body{
    background-color: red;
}

h1{
    text-align: center;
}

#userInput{
    text-align: center;
}

#langButtons{
    text-align: center;
    padding: 10px;
}

#word-output{
    text-align: center;
}
